.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-error{
    font-size: 12px;
    color: red;
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    margin-left: 1px;
    text-align: start;
    font-weight: 900;
}

.btn-login{
    margin-top: 10px;
    border-radius: 19px;
}
/* body{
    background-image: url('./img/batman.jpg');
} */